version: "3.8"

services:
  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=dbname
    networks:
      - mixienet

  users:
    build:
      context: ./users
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://user:password@postgres/dbname?sslmode=disable
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - FACEBOOK_CLIENT_ID=${FACEBOOK_CLIENT_ID}
      - FACEBOOK_CLIENT_SECRET=${FACEBOOK_CLIENT_SECRET}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    networks:
      - mixienet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    depends_on:
      - users
      - products
      - inventory
    networks:
      - mixienet

  products:
    build:
      context: ./products
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - inventory
    environment:
      - DATABASE_URL=postgres://user:password@postgres/dbname?sslmode=disable
    networks:
      - mixienet

  inventory:
    build:
      context: ./inventory
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://user:password@postgres/dbname?sslmode=disable
    networks:
      - mixienet

volumes:
  postgres_data:

networks:
  mixienet:
