/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Lato:wght@400;700&display=swap');

/* Import Tailwind */
@import "tailwindcss";

@theme {
  --color-cream-100: #FFF7ED;
  --color-cream-200: #FFEFE1;
  --color-brown-700: #A16207;
  --color-brown-800: #854D0E;
  --color-brown-900: #422006;
  --color-terracotta-500: #E17055;
  --color-terracotta-600: #D35400;
  --font-sans: ['Lato', 'sans-serif'];
  --font-serif: ['Lora', 'serif'];
}
