name: Products CI

on:
  push:
    branches: [main]
    paths:
      - "products/**"
  pull_request:
    branches: [main]
    paths:
      - "products/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24.2"

      - name: Build
        run: cd products && go build -v ./...

      - name: Test
        run: cd products && go test -v ./...
